*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background-color: CornflowerBlue;
}
span:hover,span:active{
	background-color: DarkRed;
	color:gold;
	border:black 3px solid;
	cursor: pointer;
}
p{
	width: 30%;
	height: 300px;
	margin:15px;
	border: 3px solid black;
	background-color: white;
	overflow: auto;
	color: lightgreen;
}
#no1{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa7F1moveKvQiAEaOwe32dhebpmhod3axZfZeneICNjHogSv86ODn8cwiQekA67jlZYsI&usqp=CAU");	
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
#no2{
	background-image: url("https://scontent-iev1-1.cdninstagram.com/v/t51.2885-19/s150x150/217400177_518462586143714_367041905071434870_n.jpg?_nc_ht=scontent-iev1-1.cdninstagram.com&_nc_ohc=v_HX5LaiZJYAX_EEyTB&edm=ABfd0MgBAAAA&ccb=7-4&oh=57e076f8b09282dc38451f0d02459a7e&oe=6127326A&_nc_sid=7bff83");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
#no3{
	background-image: url("https://i.ytimg.com/vi/_c6gZALK8kM/maxresdefault.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
footer{
	clear: left;
}
@media (min-width: 0px) and (max-width: 999px){
	body{
		font-size: 40px;
	}
	p{
		width: 900px;
		height: 900px;
		clear: left;
	}
}
@media (min-width: 1000px){
	p{
		float: left;
	}
}