*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
	background-color: CornflowerBlue;
}
span:hover,span:active{
	background-color: DarkRed;
	color:gold;
	border:black 3px solid;
	cursor: pointer;
}
p{
	width: 30%;
	height: 300px;
	margin:15px;
	border: 3px solid black;
	background-color: white;
	overflow: auto;
	color: lightgreen;
}
#no1{
	background-image: url("https://instagram.fala4-2.fna.fbcdn.net/v/t51.2885-15/e35/62525572_151152589376795_17628116219435913_n.jpg?_nc_ht=instagram.fala4-2.fna.fbcdn.net&_nc_cat=111&_nc_ohc=9GnFPlEbpPQAX-pbShy&oh=d12e6c9190477034f5981e9e3c389b02&oe=5F66B240");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
#no2{
	background-image: url("https://instagram.fala4-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/93007538_3272207753005386_4243047186223921733_n.jpg?_nc_ht=instagram.fala4-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=47rD81pt4cgAX-TJmq1&oh=6e2d8f9ad00b5f1c804f0ecc2646af0f&oe=5F6625E9");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
#no3{
	background-image: url("https://instagram.fhel4-1.fna.fbcdn.net/v/t51.2885-19/s150x150/83086256_2789874757748927_3968009500387966976_n.jpg?_nc_ht=instagram.fhel4-1.fna.fbcdn.net&_nc_ohc=gZ9-8z64e9wAX_YCJN7&oh=e0dbe0d0118935e8117a103e386a090c&oe=5F64A5C1");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
footer{
	clear: left;
}
@media (min-width: 0px) and (max-width: 767px){
	body{
		font-size: 40px;
	}
	p{
		width: 200px;
		clear: left;
	}
}
@media (min-width: 768px){
	p{
		float: left;
	}
}